html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  width: 100%;
}

.header {
  height: 82px;
  padding: 30px 0;
  background-color: #000;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  min-width: 200px;
  padding: 30px 158px;
}

.logo {
  padding-bottom: 10px;
}

nav {
  display: flex;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  font-weight: 500;
  margin-left: 40px;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 1);
  transition-duration: 0.4s;
}

.active {
  color: rgba(255, 255, 255, 1);
}

.personal-product {
  display: flex;
  justify-content: space-around;
  margin: 60px 0;
}

.personal-product-descr {
  margin-left: 300px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
}

.who-we-are-button {
  border: 2px solid #000000;
  background-color: transparent;
  cursor: pointer;
  font-size: 10px;
  border-radius: 30px;
  height: 39px;
  width: 110px;
  transition-duration: 0.3s;
  outline: none;
}

.who-we-are-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.personal-product-button-red {
  margin-left: 300px;
  border: 2px solid #000000;
  background-color: transparent;
  cursor: pointer;
  font-size: 10px;
  border-radius: 30px;
  height: 50px;
  width: 140px;
  transition-duration: 0.3s;
  outline: none;
}

.personal-product-button-red:hover {
  border: 2px solid #d32020;
  background-color: #d32020;
  color: #ffffff;
  outline: none;
}

.illustration1 {
  margin-top: 20px;
  height: 365px;
  margin-right: 200px;
  width: 676px;
}

.who-we-are {
  padding: 50px 230px;
  background-color: #e2e2e2;
}

.who-we-are > h2 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
}

.our-qualities > h2 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
}

.our-services > h2,
.our-services > h3 {
  text-align: center;
}

.who-we-are-wrapper {
  display: flex;
  justify-content: center;
  min-width: 200px;
}

.illustration2 {
  width: 377px;
}

.who-we-are-descr {
  margin-left: 40px;
}

.who-we-are-paragraph {
  font-size: 1.3rem;
  font-weight: 300;
}

.bold {
  font-weight: 500;
}

.light-red-40 {
  color: rgba(211, 32, 32, 0.4);
}

.quality-icon-header {
  font-weight: bold;
  display: block;
}

.qualities-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 230px;
}

.qualities-icon {
  width: 60px;
  margin: 20px 0;
  margin-top: 40px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.qualities-icon:hover {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.our-qualities-cntainer {
  width: 230px;
  font-size: 19px;
  margin-left: 130px;
}

.regular-customers {
  padding: 50px 156px;
  text-align: center;
}

.regular-customers > h2 {
  margin-top: 20px;
}

.regular-customers-list {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.regular-customer {
  cursor: pointer;
  width: 240px;
  height: 58px;
}

.our-works > h2 {
  margin-left: 156px;
}

.works-list {
  padding: 30px 156px 50px 156px;
  display: flex;
  flex-wrap: wrap;
}

.our-work-item {
  margin-right: 14px;
  margin-bottom: 14px;
  width: 220px;
  height: 90px;
}

.contacts {
  margin-bottom: 50px;
}

.contacts > h2 {
  margin-bottom: 120px;
  margin-left: 156px;
  font-weight: bold;
  font-size: 34px;
}

.contacts-list {
  display: flex;
  padding: 10px 156px;
}

.contacts-list {
  display: flex;
  justify-content: space-between;
}

.contacts-item-info {
  margin: 0;
  padding: 0;
}

.contacts-item-info > li {
  list-style: none;
  font-size: 17;
}

.contacts-item-header {
  font-weight: bold;
}
