html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  width: 100%;
}

.header {
  height: 82px;
  padding: 30px 0;
  background-color: #000;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  min-width: 200px;
  padding: 30px 158px;
}

nav {
  display: flex;
  justify-content: center;
}

.logo {
  padding-bottom: 10px;
}

.nav-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  font-weight: 500;
  margin-left: 40px;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 1);
  transition-duration: 0.4s;
}

.active {
  color: rgba(255, 255, 255, 1);
}

.title {
  margin: 144px 0 0 220px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
  background-color: #fff;
  border-radius: 10px;
  width: 300px;
  margin-top: 109px;
  margin-right: 20px;
}

.card:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 20px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.tag-coral {
  background-color: coral;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}

.user-title {
  padding-top: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: rgba(0, 0, 0, 0.5);
}

.user-ul {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.user_prise {
  margin-top: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}
